<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.hrm.dao.UserMapper">
	<resultMap id="userResult" type="User" autoMapping="true">
		<result column="id" property="id"></result>
		<result column="name" property="name"></result>
		<result column="pass_word" property="passWord"></result>
		<result column="status" property="status"></result>
		<result column="create_date" property="createDate"></result>
	</resultMap>

	<!-- 定义通用的查询语句 -->
	<sql id="select_sql">
		<![CDATA[select * from hrm_user]]>
	</sql>

	<!-- 查询配置 -->
	<select id="findByNameAndPwd" resultMap="userResult">
		<include refid="select_sql"></include>where name=#{name} and pass_word=#{password}
	</select>

	<!-- 根据用户ID查询用户 -->
	<select id="get" resultMap="userResult">
		<include refid="select_sql"></include> where id=#{id}
    </select>

</mapper>